<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.service.mapper.BrandMapper">
    <resultMap id="resultMap" type="java.util.Map">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="desc" column="desc" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="sortOrder" column="sort_order" jdbcType="TINYINT"/>
        <result property="floorPrice" column="floor_price" jdbcType="DECIMAL"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id,`name`, `desc`,pic_url,sort_order,floor_price,add_time,update_time
	</sql>
    <select id="queryBrand" resultMap="resultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_brand
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
        limit #{start}, #{limit}
    </select>
    <select id="queryBrandTotal" resultType="Integer" parameterType="java.util.Map">
        SELECT
          count(id)
        FROM t_brand
    </select>
</mapper>